* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.overall {
    /*animation-delay: 0.2s;*/
    min-height: 720px;
    position: relative;
    display:flex;
    align-items:center;
}
.overall-gap{
    position:absolute;
    inset:0;
    background: linear-gradient(
        90deg,
        rgba(2, 9, 113, 0.88) 0%,
        rgba(39, 46, 123, 0.88) 45%,
        rgba(64, 68, 117, 0.88) 60%,
        rgba(0, 0, 0, 0.15) 100%
    );
}
.overall-content {
    position: relative;
    z-index:2;
    width: min(1180px,90%);
    margin: 80px auto 0;
    color:white;
}
.overall-small {
    display:inline-block;
    margin-bottom : 16px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.overall h1{
    font-size: clamp(42px, 5vw, 70px);
    line-height: 1.08;
    max-width: 800px;
    margin-bottom: 20px;
}
.overall p{
    font-size: 19px;
    max-width: 600px;
    margin-bottom: rgba(255,255,255,.88);
}
.overall-buttons{
    display: flex;
    gap: 15px;
    margin-top: 35px;
}
.button{
    display: inline-block;
    padding: 14px 27px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    transition:
        background 0.2s,
        color 0.2s,
        transform 0.2s;
    border: 1px solid white;
    color: white;
    text-decoration: none;
}
.button:hover {
    background: white;
    color: darkblue;
    transform: translateY(-2px);
}
/*--------------------------------------
----------------------------------------
---------Annonces-----------------------
----------------------------------------
--------------------------------------*/
.annonces-section {
    padding: 110px 0;
    background-color: white;
}
.annonces-container {
    width: min(1180px,90%);
    margin: auto;
}
.annonces-heading{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 45px;
}
.all-annonces {
    color: darkblue;
    font-weight: bold;
    margin-bottom: 25px;
}
.all-annonces:hover{
    box-shadow: 0 16px 35px rgba(0,0,0.12);
}
.annonces-label {
    color:	black;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.title-line {
    width: 65px;
    height: 3px;
    background: rgb(22, 26, 144);
    margin: 18px 0 25px;
}
.annonces {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.annonce-card{
    background: white;
    box-shadow: 0 10px 30px rgba(0,0,0,.07);
}
.annonce-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 16px 35px rgba(0,0,0,.12);
}
.annonce-image{
    height:240px;
    position: relative;
    overflow: hidden;
}
.annonce-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform .4s; 
}
.annonce-card:hover .annonce-image img{
    transform: scale(1.05);
}
.annonce-date{
    display: none;
    /*position: absolute;
    top: 20px;
    left: 20px;
    background:rgb(22, 26, 144);
    color:white;
    min-width: 78px;
    padding: 10px 13px;
    display:flex;
    flex-direction: column;
    text-align: center;*/
}
.annonce-date strong{
    display:none;
    font-size: 20px;
}
.annonce-date span{
    display: none;
    font-size: 12px;
}
.annonce-content {
    padding: 28px;
}
.annonce-content h3{
    color:darkblue;
    font-size: 21px;
    line-height: 1.35;
    margin: 10px 0 15px;
}
.annonce-content p{
    color: grey;
    font-size: 14px;
    margin-bottom: 20px;
}
.annonce-content a {
    color: darkblue;
    font-weight: bold;
    margin-bottom: 25px;
    text-decoration: none;
}
.annonce-content a:hover{
    text-decoration: underline;
}
@media (max-width: 900px) {
    .annonces {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:600px) {
    .annonces-section{
        padding: 75px 0;
    }
    .annonces-heading{
        align-items: flex-start;
        flex-direction: column;
    }
    .all-annonces{
        margin:0
    }
    .annonces{
        grid-template-columns: 1fr;
    }
}